<div>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark px-3">
    <a class="navbar-brand px-3" routerLink="home">Todo List</a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    ></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="home" aria-current="page"
            >My Day</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="add">Add Todo</a>
        </li>
      </ul>
      <form class="d-flex my-2 my-lg-0">
        <input
          class="form-control me-sm-2"
          type="text"
          placeholder="Search todos"
        />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </div>
  </nav>
</div>

<div class="container mt-2">
  <h1 class="dislpay-1 text-primary text-center">Todo List by Rahul Dey</h1>
  <hr class="mb-4" />
</div>
